.stockAccordinHeader{
    padding-left: 8px;
    font-size: 16px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.5);
}

.stockInOutContainer{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dateRange{
    height: 40px;
    min-width: 100px;
    color: #fff;
    background-color: red;
}